<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{default description site.description}}">
<title>{{#if title }}{{ title }} – {{ site.title }}{{else}}{{ site.title }} – {{ site.tagline }}{{/if}}</title>
<link href="{{ assets }}/css/app.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ assets }}/images/favicon.ico">
